.App {
  text-align: center;
}
.load {
  opacity: 0;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.load-end {
  opacity: 1;
  transition: opacity .5s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  color: white;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  display: flex;
  align-items: center;
}

@font-face {
  font-weight: 700;
  font-family: 'maeumteo';
  src: url('./fonts/nanum-all/NanumPen.ttf') format('truetype');
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.slidercontents {
  height: 480px;
  display: flex;
  align-items: center;
  background-size: contain;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapText {
  display: flex;
  margin-left: 12%;
  justify-content: center;
}

.cardDataSet {
  width : 20%;
  margin : 30px;
  cursor: pointer;
}
.cardDataSet:hover {
  scale: 1.05;
  transition: .5s;
}

::-webkit-scrollbar {
	display: none;
}


@media (max-width: 1280px) {
  html {
    width: 1905px;
  }
  .cardDataSet {
    width : 19%;
  }
}

@media (max-width: 1024px) {
  .cardDataSet {
    width : 25%;
  }
}
@media (max-width: 768px) {
  .cardDataSet {
    width : 40%;
  }
}
@media (max-width: 425px) {
  .cardDataSet {
    width : 80%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}